<html>

<head>
    <title>test </title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{message | test}}
        <span v-if="seen">aaa</span>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text}}
            </li>
        </ol>
        <button v-on:click="reverseMessage">逆转消息</button>
        <input v-model="message"></input>
            <ul>
                <todo-item 
                    v-for="b in todos"
                   v-bind:a ="b"></todo-item>
                
            </ul>
       
        <button v-on:click="setVisible">Visible</button>
    </div>
    <script>
        Vue.filter("test",function(a){
            return a+'111';
        });
        Vue.component('todo-item', {
            props: ['a'],
            template: '<li>{{ a.text }}</li>'
        });
        var app = new Vue({
            el: '#app',
            data: {
                message: "test",
                seen: false,
                todos: [{
                        text: 1
                    },
                    {
                        text: 12
                    },
                    {
                        text: 3333
                    },
                ]
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message + "aaaaaaaa";
                },
                setVisible: function () {
                    this.seen = !this.seen;
                }
            }
        });
    </script>
</body>

</html>